<footer>
    <div class="container items-center justify-center pt-5">
        <div class="flex gap-5">
            <a href="#">INSTAGRAM</a>
            <a href="#">FACEBOOK</a>
            <a href="#">TWITTER</a>
        </div>
        <div class="pt-5">
            <label class="title text-[1.5rem]"><span class="name text-[2rem]">KEN</span> + GERVACIO</label>
        </div>
    </div>
</footer>
<!-- FOOTER ENDS HERE -->
<script src="/script.js"></script>
</body>

</html>