<%-include('./partials/nav')%>
    <main class=" border-y-[1px]  border-secondary-100">
        <div class="container">
            <section class="flex flex-col items-center gap-10">
                
                <h1 class="text-2xl" style="margin: 10em 0">404 PAGE NOT FOUND</h1>

            </section>
        </div>
    </main>
<%-include('./partials/footer')%>