<%-include('./partials/nav')%>
    <main class=" border-y-[1px]  border-secondary-100">
        <div class="container">
            <section class="flex flex-col items-center gap-10">
                <img src="img/me.jpg" alt="" class=" object-cover rounded-full w-[300px] h-[300px]">

                <div class="text-[1.5em] text-justify">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, atque expedita delectus
                        laboriosam sapiente praesentium est esse nisi quidem, enim repellat dolorum porro fugiat veniam
                        tempore sunt vitae quibusdam animi.</p>
                </div>
            </section>
        </div>
    </main>
    <%-include('./partials/footer')%>