<%-include('./partials/nav')%>

<main class=" border-y-[1px]  border-secondary-100">
    <div class="container items-start">
        <section>
            <!-- BLOG HERE -->
            <div class="container">
                <div class="flex justify-between text-lg">
                    <div>
                        <label>kengervacio</label>
                        <label>2 days ago · 3 min</label>
                    </div>
                    <div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="article">
                    <div class="section">
                        <h1 class="text-5xl">New Year 2022 Celebration and Happenings</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore quisquam enim, dignissimos sapiente repudiandae magnam quibusdam velit obcaecati aperiam mollitia.</p>
                    </div>
                    <div class="section">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, cupiditate aliquid? Asperiores exercitationem vero adipisci? Totam molestiae omnis earum quia, esse sequi sint hic libero nisi officiis dignissimos nulla minus quam doloremque nobis architecto! 
                            Ipsam commodi ea animi est tempora molestias deleniti, rem earum nostrum placeat unde officiis minus pariatur et. Quis maxime tempora corporis eveniet quasi ullam blanditiis, rerum consequatur perspiciatis dolores, mollitia minima dignissimos, fugit at ut obcaecati! 
                            Architecto porro dignissimos vero cum adipisci. Quis ab soluta quod eveniet atque nostrum ut unde iste asperiores perferendis tempora facilis minima, assumenda dignissimos vitae id odit nam. Velit, perspiciatis eaque.</p>
                    </div>
                </div>

            </div>
            <!-- BLOG END HERE -->
            <div class="links">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </section>
    </div>
</main>

<%-include('./partials/footer')%> 