<%-include('./partials/nav')%>

<main class=" border-y-[1px]  border-secondary-100">
    <div class="container items-start">
        <section>
            <!-- BLOG HERE -->
            <%-include('./partials/show_blog') %> 
            <!-- BLOG END HERE -->
            <div class="links">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </section>
    </div>
</main>

<%-include('./partials/footer')%> 