<%-include('./partials/nav')%>
<main class=" border-y-[1px]  border-secondary-100">
    <div class="container items-start">
        <section>
            <label class=" text-3xl">
                Contact
            </label>
            <!-- BLOG HERE -->
            <div class="container">
                <form class="flex flex-col" action="mailto:johnkgervacio@gmail.com" method="post" enctype="text/plain">
                    <label>Full Name:</label>
                    <input type="text" placeholder="Name" name="name" required="required">
                    <label>Email:</label>
                    <input type="text" placeholder="@Email" name="mail" required="required">
                    <label>Comment:</label>
                    <textarea name="comment" id="" cols="30" rows="10"></textarea>
                    <input id="button" class="p-3" type="submit" value="Send">

            </div>
    </div>
</main>
<%-include('./partials/footer')%> 