<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEN's BLOG</title>
    <link rel="stylesheet" href="./../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arapey&family=Josefin+Slab:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="container items-center justify-center pt-20">
            <label class="title text-[2rem]"><span class="name text-[2.5rem]">KEN</span> + GERVACIO</label>
            <nav class="pt-5 pb-2">
                <ul class="flex gap-4">
                    <li><a href="/views/index.html">HOME</a>
                    <li><a href="/views/theblog.html">THE BLOG</a>
                    <li><a href="#">ABOUT</a>
                    <li><a href="#">CONTACT</a>
                </ul>
            </nav>
        </div>

    </header>
    <!-- HEADER ENDS HERE -->


    <!-- INTRO BODY -->
    <main class=" border-y-[1px]  border-secondary-100">
        <div class="container items-center justify-center">
            <section>
                <div class="flex flex-col md:grid grid-cols-2">
                    <div class="left-side order-1 md:order-none">
                        <h1 class="q border-l-2 pl-4">
                            &nbsp; &nbsp;&nbsp;&nbsp; Ako si Gervacio, John Kenneth, currently nag-aaral ng web design at web development sa Ortigas Cainta STI.
                            My current hobby is playing valorant, browse social media and do side projects like this blog website.
                        </h1>
                        <div class="flex gap-10 mt-3">
                            <a href="/views/theblog.html">THE BLOG</a>
                            <a href="#">ABOUT</a>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="flex items-center justify-center sm:p-[2.5em] md:p-[5em]">
                            <img src="./../public/img/bg.jpg" class=" w-[240px] rounded-full">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- INTRO BODY ENDS HERE -->

    <!-- FOOTER -->
    <footer>
        <div class="container items-center justify-center pt-5">
            <div class="flex gap-5">
                <a href="#">INSTAGRAM</a>
                <a href="#">FACEBOOK</a>
                <a href="#">TWITTER</a>
            </div>
            <div class="pt-5">
                <label class="title text-[1.5rem]"><span class="name text-[2rem]">KEN</span> + GERVACIO</label>
            </div>
        </div>
    </footer>
    <!-- FOOTER ENDS HERE -->
    <script src="./../public/script/script.js"></script>
</body>

</html>