<%-include('./partials/nav')%>

<main class=" border-y-[1px]  border-secondary-100">
    <div class="container items-center justify-center">
        <section>
            <div class="flex flex-col md:grid grid-cols-2">
                <div class="left-side order-1 md:order-none">
                    <h1 class="q border-l-2 pl-4">
                        &nbsp; &nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur <span class="highlight">adipisicing elit.</span>
                        Obcaecati aut tempora harum soluta nihil! Ipsum omnis quibusdam aut similique perferendis.

                        Aliquam illo cupiditate a quam laudantium + iure  voluptatem veniam rem!
                    </h1>
                    <div class="flex gap-10 mt-3">
                        <a href="/theblog">THE BLOG</a>
                        <a href="/about">ABOUT</a>
                    </div>
                </div>
                <div class="right-side">
                    <div class="flex items-center justify-center sm:p-[2.5em] md:p-[5em]">
                        <img src="/img/bg.jpg" class=" w-[240px] rounded-full">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<%-include('./partials/footer')%> 