<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEN's BLOG</title>
    <link rel="stylesheet" href="./../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arapey&family=Josefin+Slab:ital,wght@1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <div class="container items-center justify-center pt-20">
            <label class="title text-[2rem]"><span class="name text-[2.5rem]">KEN</span> + GERVACIO</label>
            <nav class="pt-5 pb-2">
                <ul class="flex gap-4">
                    <li><a href="/views/index.html">HOME</a>
                    <li><a href="/views/theblog.html">THE BLOG</a>
                    <li><a href="#">ABOUT</a>
                    <li><a href="#">CONTACT</a>
                </ul>
            </nav>
        </div>

    </header>
    <!-- HEADER ENDS HERE -->


    <!-- INTRO BODY -->
    <main class=" border-y-[1px]  border-secondary-100">
        <div class="container items-start">
            <section>

                <div class="flex gap-5 py-5 mb-5 justify-between">
                    <ul class="flex">
                        <li>
                            <a href="#">All posts</a>
                        </li>
                        <li>
                            <a href="#">Gaming</a>
                        </li>
                        <li>
                            <a href="#">Web Dev</a>
                        </li>
                        <li>
                            <a href="#">Blockchain</a>
                        </li>
                    </ul>
    
                    <div class="">
                        <a href="#" id="button">+ Add blog</a>
                    </div>
                </div>

                <!-- CARDS HERE -->
                <div class="grid grid-cols-2 sm:grid-cols-2 gap-10 md:grid-cols-3">

                    <div class="card">
                        <div class="gallery">
                            <img src="./../public/img/me.jpg" alt="">
                        </div>

                        <div class="text-primary-100 p-8">
                            <div class="flex flex-col justify-between" style="height: 35vh">
                                <div class="flex justify-between text-sm">
                                    <div class="flex flex-col">
                                        <label>kengervacio</label>
                                        <label>2 days ago · 3 min</label>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                </div>

                                <div class="flex flex-wrap text-2xl">
                                    <h1><a href="/views/blog.html"> New Year 2022 Celebration and Happenings </a></h1>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="card">
                        <div class="gallery">
                            <img src="./../public/img/minah2.jpg" alt="">
                        </div>

                        <div class="text-primary-100 p-8">
                            <div class="flex flex-col justify-between" style="height: 35vh">
                                <div class="flex justify-between text-sm">
                                    <div class="flex flex-col">
                                        <label>kengervacio</label>
                                        <label>2 days ago · 3 min</label>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                </div>

                                <div class="flex flex-wrap text-2xl">
                                    <h1>New Year 2022 Celebration and Happenings</h1>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="gallery">
                            <img src="./../public/img/3.jpg" alt="">
                        </div>

                        <div class="text-primary-100 p-8">
                            <div class="flex flex-col justify-between" style="height: 35vh">
                                <div class="flex justify-between text-sm">
                                    <div class="flex flex-col">
                                        <label>kengervacio</label>
                                        <label>2 days ago · 3 min</label>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                </div>

                                <div class="flex flex-wrap text-2xl">
                                    <h1>New Year 2022 Celebration and Happenings</h1>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="gallery">
                            <img src="./../public/img/me.jpg" alt="">
                        </div>

                        <div class="text-primary-100 p-8">
                            <div class="flex flex-col justify-between" style="height: 35vh">
                                <div class="flex justify-between text-sm">
                                    <div class="flex flex-col">
                                        <label>kengervacio</label>
                                        <label>2 days ago · 3 min</label>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                </div>

                                <div class="flex flex-wrap text-2xl">
                                    <h1>New Year 2022 Celebration and Happenings</h1>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- CARDS END HERE -->

            </section>
        </div>
    </main>
    <!-- INTRO BODY ENDS HERE -->

    <!-- FOOTER -->
    <footer class="">
        <div class="container items-center justify-center pt-5">
            <div class="flex gap-5">
                <a href="#">INSTAGRAM</a>
                <a href="#">FACEBOOK</a>
                <a href="#">TWITTER</a>
            </div>
            <div class="pt-5">
                <label class="title text-[1.5rem]"><span class="name text-[2rem]">KEN</span> + GERVACIO</label>
            </div>
        </div>
    </footer>
    <!-- FOOTER ENDS HERE -->
    <script src="./../public/script/script.js"></script>
</body>

</html>