<%-include('./partials/nav')%>

    <main class=" border-y-[1px]  border-secondary-100">
        <div class="container items-center">
            <section>

                <div class="flex gap-5 py-5 mb-5 justify-between">
                    <ul class="links flex">
                        <li>
                            <a href="" class="filter">All post</a>
                        </li>
                        <li>
                            <a href="" class="filter">Gaming</a>
                        </li>
                        <li>
                            <a href="" class="filter">Web Dev</a>
                        </li>
                        <li>
                            <a href="" class="filter">Blockchain</a>
                        </li>
                    </ul>

                    <div class="">
                        <a href="/theblog/addblog" id="button">+ Add blog</a>
                    </div>
                </div>

                <!-- CARDS HERE -->
                <div class="grid grid-cols-2 sm:grid-cols-2 gap-10 md:grid-cols-3 mb-5">
                    <%-include('./partials/show_blog_card') %>

                </div>

                <!-- CARDS END HERE -->

            </section>
        </div>
    </main>
    <script>
        var myLink = document.querySelector('ul.links')
        myLink.addEventListener('click', (e) => {
            window.location.href = `http://localhost:3000/theblog/?filter=${e.target.textContent.replace(/ +/g, "").toLowerCase()}`
        })
    </script>
    <%-include('./partials/footer')%>